In [ ]:
student= [
            ["rahul",111,"mum"]
            [

In [1]:
print(student)

NameError: name 'student' is not defined

In [2]:
student = [
                ["rahul",111,"mum"]
                ["eric",222, "delhi"]
                ["tom",333,"Jaipur"]
                ["jack", 444, "goa"]
]

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]
C:\Users\saba ahmad\AppData\Local\Temp\ipykernel_11088\1196785861.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["rahul",111,"mum"]

TypeError: list indices must be integers or slices, not tuple

In [3]:
student = [
----> 2                 ["rahul",111,"mum"],
      3                 ["eric",222, "delhi"],
      4                 ["tom",333,"Jaipur"],
      5                 ["jack", 444, "goa"],
      6 ]

SyntaxError: invalid syntax (3733175130.py, line 2)

In [4]:
student = [
----> 2                 ["rahul",111,"mum"],
      3                 ["eric",222, "delhi"],
      4                 ["tom",333,"Jaipur"],
      5                 ["jack", 444, "goa"]
      6 ]

SyntaxError: invalid syntax (3768792676.py, line 2)

In [5]:
student=["rahul",333,"Jaipur"]

In [6]:
student

['rahul', 333, 'Jaipur']

In [7]:
student= [ 
    ["rahul",222,"mum"],
    ["eric",444,"delhi"]
    }

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' on line 1 (1968913630.py, line 4)

In [8]:
student= [ 
    ["rahul",222,"mum"],
    ["eric",444,"delhi"]
]

In [9]:
student

[['rahul', 222, 'mum'], ['eric', 444, 'delhi']]

In [10]:
student.appent(["Rohit",555,"goa"])

AttributeError: 'list' object has no attribute 'appent'

In [11]:
student.append(["Rohit",555,"goa"])

In [12]:
student

[['rahul', 222, 'mum'], ['eric', 444, 'delhi'], ['Rohit', 555, 'goa']]

In [13]:
student[:][1:2]

[['eric', 444, 'delhi']]

In [14]:
student[student[][1]]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3329166524.py, line 1)

In [15]:
student[][1]

SyntaxError: invalid syntax (3640326903.py, line 1)

In [16]:
student[:]

[['rahul', 222, 'mum'], ['eric', 444, 'delhi'], ['Rohit', 555, 'goa']]

In [17]:
student[][1:2]

SyntaxError: invalid syntax (1386558420.py, line 1)

In [18]:
student[:][2]

['Rohit', 555, 'goa']

In [19]:
student[]

SyntaxError: invalid syntax (368970739.py, line 1)

In [20]:
student[1:3]

[['eric', 444, 'delhi'], ['Rohit', 555, 'goa']]

In [21]:
student[][:]

SyntaxError: invalid syntax (2132019271.py, line 1)

In [22]:
student[:][:]

[['rahul', 222, 'mum'], ['eric', 444, 'delhi'], ['Rohit', 555, 'goa']]

In [23]:
student[][1:3]

SyntaxError: invalid syntax (2513450537.py, line 1)

In [24]:
student[1:3][:]

[['eric', 444, 'delhi'], ['Rohit', 555, 'goa']]

In [25]:
student[1:3][1:3]

[['Rohit', 555, 'goa']]

In [26]:
student([:][:])

SyntaxError: invalid syntax (2445379727.py, line 1)

In [27]:
array(student)

NameError: name 'array' is not defined